@using UCRMS_MVC.Models
@model UCRMS_MVC.Models.ViewResultByRegNo

@{
    Layout = null;
    List<Student> allStudents = ViewBag.allStudents;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>UCRMS</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/jquery.datepick.css" rel="stylesheet" />
    <style>
        .ErrorMessage {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>

    <div id="wrapper">

        <div id="header">

            <div class="banner_img">
                <h1>University Course and Result Management System </h1>
            </div>

        </div>

        <div class="navigation navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Department", "Index", "Department")</li>
                <li>@Html.ActionLink("Course", "Index", "Course")</li>
                <li>@Html.ActionLink("Teacher", "Index", "Teacher")</li>
                <li>@Html.ActionLink("Student", "Index", "Student")</li>
                <li>@Html.ActionLink("Enroll Course", "Enroll", "Enroll")</li>
                <li>@Html.ActionLink("Allocate Rooms", "Index", "AllocateClassRoom")</li>
            </ul>
        </div>
       
        <div id="page_content">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <h3>Class Room Allocation</h3>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-header">
                    <li>@Html.ActionLink("Allocate ClassRooms", "Allocate", "AllocateClassRoom")</li>
                    <li>@Html.ActionLink("View Class Room Schedule", "ViewClassSchedule", "AllocateClassRoom")</li>
                    <li>@Html.ActionLink("UnAllocation All Class Room", "UnAllocationAllRoom", "AllocateClassRoom")</li>
                   </ul>
            </div>
            <div class="clear"></div>

            <!--start footer from here-->
            <div id="footer">

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    
   </body>
</html>
