@using UCRMS_MVC.Models
@model List<UCRMS_MVC.Models.Department>

@{
    Layout = null;
    //List<Department> departments = ViewBag.departments;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UCRMS</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">

    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">

        <div id="header">

            <div class="banner_img">
                <h1>University Course and Result Management System </h1>
            </div>
        </div>

        <div class="navigation">
            <ul>
                <li>@Html.ActionLink("Department", "Index", "Department")</li>
                <li>@Html.ActionLink("Course", "Index", "Course")</li>
                <li>@Html.ActionLink("Teacher", "Index", "Teacher")</li>
                <li>@Html.ActionLink("Student", "Index", "Student")</li>
                <li>@Html.ActionLink("Enroll Course", "Enroll", "Enroll")</li>
                <li>@Html.ActionLink("Allocate Rooms", "Index", "AllocateClassRoom")</li>
            </ul>
        </div>

       
        <div id="page_content">
            
                <legend><h3>View All Department:</h3></legend>
               
                    <td>
                        <table class="table1">
                            
                            <tr>
                                <th>Department Code</th>
                                <th>Department Name</th>
                            </tr>
                            @if (Model != null)
                            {
                                foreach (var data in Model)
                                 {
                                       <tr>
                                           <td>@data.DeptCode</td>
                                           <td>@data.DeptName</td>
                                        </tr>  
                                 }
                            
                            }
                            
                        </table>
                    </td>
               
              @Html.ActionLink("Back", "Index", "Department")
                 
            <div class="clear"></div>

            <!--start footer from here-->
            <div id="footer">

            </div>
        </div>
    </div>

</body>
</html>
